.footer {
  .social-media {
    li {
      width: 46px;
      height: 46px;
      background-color: rgba($color: $color-1F6678, $alpha: 0.05);
      border-radius: 50px;
      img {
        height: 14px;
      }
    }
  }
  .footer-form {
    height: 375px;
    background-color: rgba($color: $color-1F6678, $alpha: 0.05);
  }

  .social-media,
  .footer-menu {
    li {
      &:first-child {
        margin-left: 0px !important;
      }
      &:last-child {
        margin-left: 0px !important;
      }
    }
  }
}
